.home {
display: flex;
flex-direction: column;
height: 100vh;
}
.home_header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    }
    .home_header a{
        margin-right: 20px;
        text-decoration:inherit;
        color:rgba(0,0,0,0.87);
        font-size: small;
    }
    .home_header a:hover{
text-decoration: underline;
    }
    .home_headerRightpanel{
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 13vw;
    }
    .home_headerRightpanel > .MuiSvgIcon-root{
        margin-right: 20px;
        height: 32px;
    width: 32px;
    }
    .home_headerRightpanel > .MuiAvatar-colorDefault{
        height: 32px;
        width: 32px;
    }
    .home_body{
        flex:1;
        display: flex;
        margin-top: 10%;
        flex-direction: column;
    }
    .home_body > img{
        object-fit: contain;
height: 100px;
    }